body{
    margin:0;
    font-family:sans-serif;
    background: #faf8ff;
    color: #444;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    background: white;

    box-shadow: 0 0 10px rgba(0,0,0,.08);
}

nav a{
    text-decoration: none;
    color:#444;

    margin-left: 20px;
}

.hero{
    text-align: center;
    margin-top: 150px;
}

h2{
    font-size: 50px;
}